.btn-outline-bank {
    color: #11284d;
    border-color: #11284d;
    &:hover {
        background-color: #11284d;
        color: white;
    }
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}