$primary-bank: #11284d;
$accent-gold: #f59f00;

.text-primary {
    color: $primary-bank;
}

.badge {
    border-radius: 3px;
    --bs-badge-padding-x: 0;
}

.bank-name {
    font-size: 0.90rem;
    font-weight: 700;
    color: #6c757d;
}

.btn-outline-bank {
    color: $primary-bank;
    border-color: $primary-bank;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primary-bank;
        border-color: $primary-bank;
        color: #ffffff;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(17, 40, 77, 0.25);
    }
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

// Paginator style
.custom-pagination {
    margin-bottom: 2rem;
    display: inline-flex;
    width: auto;
    list-style: none;
    padding: 0;

    .page-item {
        flex: 0 0 auto;

        .page-link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 42px;
            height: 42px;
            margin: 0 2px;
            border-radius: 8px !important;
            border: 1px solid #dee2e6;
            color: $primary-bank;
            background-color: white;
            font-weight: 500;
            transition: all 0.2s ease;

            &:hover {
                background-color: #f8f9fa;
                border-color: $accent-gold;
                color: $primary-bank;
            }
        }

        &.active .page-link {
            background-color: $primary-bank;
            border-color: $primary-bank;
            color: white;
            font-weight: 700;
            box-shadow: 0 4px 10px rgba($primary-bank, 0.2);
        }

        &.disabled .page-link {
            color: #ccc;
            background-color: #f8f9fa;
            border-color: #eee;
            cursor: not-allowed;
        }
    }
}

nav[aria-label="Page navigation"] {
    width: 100%;
    display: flex;
    justify-content: center;
}

.transition {
  transition: all 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.modal.show {
  display: block;
  backdrop-filter: blur(4px);
}

.modal-header-bank {
    background-color: $primary-bank;
    border-bottom: 2px solid darken($primary-bank, 5%);
}

.custom-info-icon {
    color: #00d4ff;
}