$primary-bank: #11284d;

.text-primary {
    color: $primary-bank;
}

.badge {
    border-radius: 3px;
    --bs-badge-padding-x: 0;
}

.bank-name {
    font-size: 0.90rem;
    font-weight: 700;
    color: #6c757d;
}

.btn-outline-bank {
    color: $primary-bank;
    border-color: $primary-bank;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        background-color: $primary-bank;
        border-color: $primary-bank;
        color: #ffffff;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(17, 40, 77, 0.25);
    }
}

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.transition {
  transition: all 0.3s ease;
}

.hover-shadow:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
}

.modal.show {
  display: block;
  backdrop-filter: blur(4px);
}

.modal-header-bank {
    background-color: $primary-bank;
    border-bottom: 2px solid darken($primary-bank, 5%);
}

.custom-info-icon {
    color: #00d4ff;
}