.badge {
    font-weight: normal;
}

.situacion-0 { background-color: #e9ecef; color: #495057; }
.situacion-1 { background-color: #d4edda; color: #155724; }
.situacion-2 { background-color: #fff3cd; color: #856404; }
.situacion-3 { background-color: #ffe8d6; color: #fe7e14; }
.situacion-4 { background-color: #f8d7da; color: #721c24; }
.situacion-5 { background-color: #f5c6cb; color: #721c24; }